<div class="fill-screen danger-zone"
     ng-controller="XQuestUIController as ui"
     ng-class="{ 'mouse-engaged': !!ui.engaged }"

     common-keymap
     common-keymap-document
     common-keymap-prevent-default

     common-keymap-c="ui.currentGame.debug().gatherClosestCrystal()"
     common-keymap-s="ui.currentGame.debug().spawnEnemy()"
     common-keymap-d="ui.currentGame.debug().killPlayer()"

     common-keymap-1="ui.currentGame.debug().activatePowerup('invincible')"
     common-keymap-2="ui.currentGame.debug().activatePowerup('rapidFire')"
     common-keymap-3="ui.currentGame.debug().activatePowerup('tripleShot')"
     common-keymap-4="ui.currentGame.debug().activatePowerup('autoAim')"
     common-keymap-5="ui.currentGame.debug().addBomb()"

     common-keymap-0="ui.currentGame.debug().spawnPowerCrystal()"
	>


	<div class="canvas-container">
		<canvas id="XQuestCanvas" width="{{ Balance.level.bounds.visibleWidth }}" height="{{ Balance.level.bounds.visibleHeight }}"
		        common-init-canvas="ui.registerCanvas(canvas)"
		        common-fill-parent
				>
			Uh oh, your browser cannot play this game.
			To play the most awesome game ever, please upgrade
			to a better browser, such as Chrome, Safari, or FireFox.
			In other words, Internet Explorer sucks.
		</canvas>

	</div>

	<div class="hud-container" ng-show="!!ui.hud">
		<div class="hud-contents" ng-include="ui.hud">
			HUD will go here
		</div>
	</div>
</div>
