<div class=""
     ng-controller="TestGraphicsController as test"
		>

	<div class="canvas-container">

		<canvas width="{{ Balance.level.bounds.totalWidth }}" height="{{ Balance.level.bounds.totalHeight }}" style="border: 1px solid yellow"
		        common-init-canvas="test.registerCanvas(canvas); test.testGraphics();"
				>
			Uh oh, your browser cannot play this game.
			To play the most awesome game ever, please upgrade
			to a better browser, such as Chrome, Safari, or FireFox.
			In other words, Internet Explorer sucks.
		</canvas>

	</div>

</div>
